<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
        <Property name="LOG_DIR">logs</Property>
        <Property name="LOG_FILE_NAME">automation.log</Property>
    </Properties>

    <Appenders>
        <!-- Консольный аппендер -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <!-- Файловый аппендер -->
        <RollingFile name="File" fileName="${LOG_DIR}/${LOG_FILE_NAME}"
                     filePattern="${LOG_DIR}/$${date:yyyy-MM}/automation-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <!-- Для Allure отчетов -->
        <File name="AllureFile" fileName="allure-results/log.log">
            <PatternLayout pattern="%msg%n"/>
        </File>
    </Appenders>

    <Loggers>
        <!-- Логирование Selenium - уровень WARN для уменьшения шума -->
        <Logger name="org.openqa.selenium" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>

        <!-- Логирование WebDriverManager -->
        <Logger name="io.github.bonigarcia" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>

        <!-- Логирование вашего проекта -->
        <Logger name="org.example" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>

        <!-- Логирование для Allure -->
        <Logger name="io.qameta.allure" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
            <AppenderRef ref="AllureFile"/>
        </Logger>

        <!-- Корневой логгер -->
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>